* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #FFFFFF; 
    background-image: linear-gradient(45deg, rgba(0, 0, 0, 0.03) 25%, transparent 25%), linear-gradient(-45deg, rgba(0, 0, 0, 0.03) 25%, transparent 25%);
    background-size: 30px 30px; 
  }

  main {
    min-height: 65vh;
    height: auto;
  }

  .background {
    position: fixed;
    z-index: -1;
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed; 
    opacity: 0.1;
    max-width: 100%;
    height: auto; 
  }

  .home {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5% 10%;
    height: 65vh;

    @media only screen and (max-width: 767px) {
      flex-direction: column;
      justify-content: center;
    }
  }

  .home h1, .home h2 {
    font-family: monospace;
    font-size: 3rem;
    font-weight: normal;

    @media screen and (max-width: 768px) {
      font-size: 1.5rem;
    }
  }

  h1 + h2 {
    margin-top: 0.5rem;
  }

  .home h2 {
    font-size: 2rem;
    @media screen and (max-width: 768px) {
      font-size: 1rem;
    }
  }

  .myName {
    color: #210D46;
    font-weight: bolder;
  }

  header {
    background-color: #fff;
    color: #333;
    padding: 10px 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    height: 5vh; 
  }
  
  h2 > span {
    color: gold;
    font-weight: bold;
    font-size: 2.5rem;
  }

  nav ul {
    list-style: none;
    text-align: center;
  }
  
  nav ul li {
    display: inline-block;
    margin: 0 10px;

    @media screen and (max-width: 600px) {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      max-width: 80px; /* Adjust as needed */
    }
  }
  
  nav ul li a {
    color: #333;
    text-decoration: none;
  }
  
  nav ul li a:hover {
    text-decoration: underline;
  }
  
  footer {
    display: flex;
    position: absolute;
    width: 100%;
    height: 30vh;
    padding: 10px 0;
    background-image: linear-gradient(to bottom, #1C043E, #00131A);
    box-shadow: 0 0 100px rgba(0, 0, 0, 0.3); 
  }

  footer > img {
    height: 100%;
  }
  
  .shape {
    width: 60%; 
    max-width: 600px;
    margin: 0 auto; 
    position: relative;
    overflow: hidden;
    -webkit-filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, .3));
    filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, .3));

    @media only screen and (max-width: 767px) {
      width: 100%; 
      max-width: 200px; 
    }
  }

  .shape > div {
    width: 100%;
    padding-bottom: 100%;
    position: relative;
    -webkit-mask: url(../images/blob.svg); 
    mask: url(../images/blob.svg);
    object-fit: cover;
    background-image: linear-gradient(to top, #1C043E, #00131A);
    mask-repeat: no-repeat;
    -webkit-mask-repeat: no-repeat;

    @media only screen and (max-width: 767px) {
      margin-top: -20px;
    }
  }
  
  .shape img {
    position: absolute;
    width: 60%;
    height: auto;
    object-fit: cover; 
    top: 33%;
    left: 20%;
    z-index: -1;
    filter: grayscale();
  }

  .socialMedia {
    display: flex;
    flex-direction: column;
    position: absolute;
    gap: 16px;
    left: 32px;
    bottom: 50%; 
    transform: translateY(50%);
  }

  .socialMedia img {
    width: 30px;
  }
  
  .backgroundImage {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-image: linear-gradient(to top, #1C043E, white);
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
  }
  
  .container {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
  }
  
  .container::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -17px;
    background-color: #1C043E;
    border: 4px solid gold;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
  }
  
  .left {
    left: 0;
  }
  
  .right {
    left: 50%;
  }
  
  .left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid white;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent white;
  }
  
  .right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
  }
  
  .right::after {
    left: -16px;
  }
  
  .content {
    padding: 20px 30px;
    background-color: #1C043E;
    color: white;
    position: relative;
    border-radius: 6px;
  }

  .content p {
    margin-bottom: 16px;
  }
  
  @media screen and (max-width: 600px) {
    .timeline::after {
      left: 31px;
    }
  
    .container {
      width: 100%;
      padding-left: 70px;
      padding-right: 25px;
    }
  
    .container::before {
      left: 60px;
      border: medium solid white;
      border-width: 10px 10px 10px 0;
      border-color: transparent white transparent transparent;
    }
  
    .left::after, .right::after {
      left: 15px;
    }
  
    .right {
      left: 0%;
    }
  }

  .hide {
    position: absolute;
    top: -9999px;
    opacity: 0;
    transition: opacity 1s ease-in-out;
  }

  .show {
    display: block;
    opacity: 1;
    transition: opacity 1s ease-in-out;
  }